---
import { SCHEMA_FIELDS } from "../constants/schema";
const menuItems = SCHEMA_FIELDS.filter(field => field.inMenu);
---

<nav
    class="h-[80px] relative w-full px-6 md:px-16 lg:px-24 xl:px-32 flex items-center justify-center z-20 bg-black text-white sticky top-0 shadow-[0px_4px_25px_0px_#0000000D] transition-all"
>

    <ul class="md:flex hidden items-center gap-10">
        {
            menuItems.map((section) => (
                <li>
                    <a
                        href={`#${section.name}`}
                        class="hover:text-gray-500/80 transition"
                    >
                        {section.label}
                    </a>
                </li>
            ))
        }
    </ul>

    <button
        aria-label="menu-btn"
        type="button"
        class="menu-btn inline-block md:hidden active:scale-90 transition ms-auto"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            viewBox="0 0 30 30"
            fill="#fff"
        >
            <path
                d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z"
            ></path>
        </svg>
    </button>

    <div
        class="mobile-menu absolute top-[70px] left-0 w-full p-6 hidden md:hidden bg-black text-white"
    >
        <ul class="flex flex-col space-y-4 text-lg">
            {
                menuItems.map((section) => (
                    <li>
                        <a href={`#${section.name}`} class="text-sm">
                            {section.label}
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>

    <script>
        const menuButtons = document.querySelectorAll(".menu-btn");
        const mobileMenus = document.querySelectorAll(".mobile-menu");

        menuButtons.forEach((btn, index) => {
            btn.addEventListener("click", () => {
                mobileMenus[index].classList.toggle("hidden");
            });
        });
    </script>
</nav>
